{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}" />
{% endblock %}

{% block page %}
        <!-- CREATE PAGE -->           
            <form action="" method="POST" class="post-form" enctype="multipart/form-data">
                <h3>Create Blog</h3>
                <div class="create-title">
                  <input type="text" name="title" id="title" placeholder="Title" maxlength="30" required>
                </div>
                <div class="create-content">
                  <textarea type="text" name="content" id="content" placeholder="Content" rows="10" cols="45" maxlength="310" required></textarea>
                </div>
                <div class="create-img">
                    <input type="file" name="img" id="fileInput"  accept=".png, .jpg, .jpeg" hidden="hidden" class="upload-input">
                    <div class="img-input">
                        <div class="imgInput-placeholder">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 9V12M12 12V15M12 12H15M12 12H9M21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4442 20.3149C14.3522 20.7672 13.1819 21 12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 9.61305 3.94821 7.32387 5.63604 5.63604C7.32387 3.94821 9.61305 3 12 3C14.3869 3 16.6761 3.94821 18.364 5.63604C20.0518 7.32387 21 9.61305 21 12Z" stroke="#0000ca8e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>   
                            <p id="img-placeholder-text">Image</p>
                        </div>
                        <img src="" id="img-preview">  
                    </div>
                    <div id="cancel">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#4B4B4B" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>   
                    </div>
                  </div>
                <div class="create-submit">
                  <button type="submit">Post</button>
                </div>
              </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/create.js') }}"></script>
{% endblock %}